[submodule "Acceso a Datos"]
	path = Acceso a Datos
	url = git@clase.github.com:Tejones-Meleros-SL/Acceso-a-Datos
[submodule "Data Analitycs"]
	path = Data Analitycs
	url = git@clase.github.com:Tejones-Meleros-SL/Data-Analitycs
[submodule "Desarrollo de Interfaces"]
	path = Desarrollo de Interfaces
	url = git@clase.github.com:Tejones-Meleros-SL/Desarrollo-Interfaces
[submodule "Sistemas Informaticos"]
	path = Sistemas Informaticos
	url = git@clase.github.com:Tejones-Meleros-SL/Sistemas-Informaticos
[submodule "Sistema de Gestion Empresarial"]
	path = Sistema de Gestion Empresarial
	url = git@clase.github.com:Tejones-Meleros-SL/Sistemas-Gestion-Empresarial
[submodule "Programacion Servicios y Procesos"]
	path = Programacion Servicios y Procesos
	url = git@clase.github.com:Tejones-Meleros-SL/Programacion-Servicios-y-Procesos
[submodule "Programacion Multimedia y Dispositivos Moviles"]
	path = Programacion Multimedia y Dispositivos Moviles
	url = git@clase.github.com:Tejones-Meleros-SL/Programacion-Multimedia-y-Dispositivos-Moviles
[submodule "IPE"]
	path = IPE
	url = https://github.com/Tejones-Meleros-SL/IPE
[submodule "Sostenibilidad"]
	path = Sostenibilidad
	url = https://github.com/Tejones-Meleros-SL/Sostenibilidad
[submodule "Digitalizacion"]
	path = Digitalizacion
	url = https://github.com/Tejones-Meleros-SL/Digitalizacion
